* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  margin: 0 auto;
  width: 100vw;
  position: sticky;
}

.nav div {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  margin: 10PX;
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}



.nav div .input {
  width: 75%;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.card {
  margin: 10px;
  cursor: pointer;
  background-color: rgb(240, 236, 236);
  padding: 10px;
  word-break: break-all;
}
.card .tex{
  width: 100%;
}
.card img{
  width: 100%;
  height: auto;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.nav div .input .css-yz9k0d-MuiInputBase-input {
  background-color: white;
}

.nav div .logo {
  width: 25%;
}

.flex{
  display: flex;
  justify-content: space-around;
}

.Vandc{
  width: 65%;

}


.recomended{
  width: 25%;
  height: 100%;
  overflow: scroll;
}

.Sajes {
  width: 90%;
  margin: 0 auto;

}

.Sajes hr {
  height: 2px;
  margin: 2px;
  background-color: rgb(196, 193, 196);
  border: none;
}

.Sajes button {
  margin: 10px;
  font-weight: bold;
  padding: 6px;
  border-radius: 20px;
  color: rgb(56, 53, 53);
  background-color: rgb(240, 236, 236);
  border: 1px solid rgb(94, 90, 90);
  cursor: pointer;
}

.Sajes .sajetion {
  display: flex;
  overflow: scroll;

}

 ::-webkit-scrollbar {
  display: none;
}

.comments{
  width: 80%;
  margin:0 auto;
  margin-top: 50px;
}

 hr{
  height: 2px;
  margin: 2px;
  background-color: rgb(196, 193, 196);
  border: none;
}
.cmt{
  max-width: 100%;
  margin: 5px;
  display: flex;
}
.cmt .av{
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.cmt .cm{
  max-width: 85%;
  
}
.cmt .cm .p{
  text-align: left;
  word-break: break-all;
}

.vcard{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top:10px !important;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(240, 236, 236);
  padding: 10px;
}
.vcard .img{
  width: 30%;
}
.vcard .text{
  width: 65%;
}
.btn_sm{
  display: none;
}

@media (min-width:320px) and (max-width:700px) {
  .flex{
    flex-direction: column;
    align-items: center;
  }
  /* .comments{
    display: none;
  } */
  .Vandc{
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .recomended{
    width: 90%;
    
  }
  .Vandc iframe{
    height: 180px
  }
  .btn_sm{
    display: inline;
    margin: 10px;
    background-color: rgb(94, 94, 94) !important;
    color: rgb(240, 236, 236) !important;
  }

}
@media (min-width:370px) and (max-width:700px){
  .Vandc iframe{
    height: 220px
  }
}


